<link rel="stylesheet" href="/public/css/common/side_bar.css">
<div class="sidebar">
  <ul class="menu">
    <li><a href="/"><img src="/public/images/home.png" alt=""> 홈</a></li>
    <li><a href="/categories"><img src="/public/images/" alt="">전체</a></li>
    <li><a href="/recommend"><img src="/public/icons/star.svg" alt=""> 찜한 모임</a></li>
  </ul>
  <hr>
  <ul>
    <li><a href="/categories/스포츠"><img src="/public/images/sports.png" alt="">스포츠</a></li>
    <li><a href="/categories/독서"><img src="/public/images/book.png" alt="">독서</a></li>
    <li><a href="/categories/<%= encodeURIComponent('사교/인맥') %>"><img src="/public/images/people.png" alt="">사교/인맥</a></li>
    <li><a href="/categories/<%= encodeURIComponent('여행/아웃도어') %>"><img src="/public/images/outdoor.png" alt="">여행/아웃도어</a></li>
    <li><a href="/categories/음악"><img src="/public/images/music.png" alt="">음악</a></li>
    <li><a href="/categories/자기계발"><img src="/public/images/develop.png" alt="">자기계발</a></li>
    <li><a href="/categories/<%= encodeURIComponent('문화/공연/축제') %>"><img src="/public/images/party3.png" alt="">문화/공연/축제</a></li>
    <li><a href="/categories/공예"><img src="/public/images/make.png" alt="">공예</a></li>
    <li><a href="/categories/언어">언어</a></li>
    <li><a href="/categories/댄스">댄스</a></li>
    <li><a href="/categories/봉사">봉사</a></li>
    <li><a href="/categories/<%= encodeURIComponent('사진/영상') %>">사진/영상</a></li>
    <li><a href="/categories/<%= encodeURIComponent('요리/제조') %>">요리/제조</a></li>
    <li><a href="/categories/<%= encodeURIComponent('자동차') %>">자동차</a></li>
    <li><a href="/categories/반려동물">반려동물</a></li>
    <li><a href="/categories/<%= encodeURIComponent('투자/금융') %>">투자/금융</a></li>
    <li><a href="/categories/<%= encodeURIComponent('창업/사업') %>">창업/사업</a></li>
  </ul>
</div>
</div>