



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/public/css/common/header.css">
    <link rel="stylesheet" href="/public/css/mypage/mypage.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>

</head>
<body>
    <%- include("../common/header") %>
    <div id="Bodywrap">
        <div id="Bodycontent">

            <div id="Userinfo">
                <img src="<%= data.profile_image %>" alt="">
                <ul id="Userul">
                    <li>μ•„μ΄λ”” : <%= uuid %></li>
                    <li>
                        <span>μ΄λ¦„ : <%= data.nickname %></span>                      
                        <span>λ λ²¨ : <%= Userlevel %></span>
                    </li>
                    <li>
                        <span>λ‚μ΄ : <%= Userdata.age %> </span>
                        <span>μ„±λ³„ : <%= Userdata.gender %></span>
                        <div id="Edit">
                            <a href="/Edituser" id="Edituser">μ •λ³΄ μμ •</a>
                            <a href="/Userintrest" id="Userintrest">κ΄€μ‹¬ λ¶„μ•Ό</a>
                        </div>
                    </li>
                
                    <li>
                        <!-- <span>λ™νΈν λ©¤λ²„ : </span> -->
                    </li>
                </ul>
            </div>
            <!-- <span id="line"></span> -->
            <div id="Introduction">
                μκΈ°μ†κ° : 
                <p>
                    <%= Userdata.introduction %>
                </p>
            </div>
            <span id="line"></span>
            
            
            <ul class="Contentul">
               
                <li class="Contentli"> 
                    <a href="" class="imagetag"><img src="/public/images/mypage.png" alt=""></a>
                    <ul class="">
                        <li>λ™νΈν μ΄λ¦„ : 3040πλ™λ„¤μ°μΉλ§λ“¤κΈ°π¤—μ—¬μ„±ν™μ</li>
                        <li>λ‚΄μ© : 
                            πΈμƒνΌ!μ„¤λ¨κ°€λ“ν•!λ΄„λ‚ πΈλ™λ„¤μΉκµ¬λ“¤κ³Όνλ§!
3040(ν‰μΌ!μ£Όλ§)λ™λ„¤μΉκµ¬λ‘!λ§›μ§‘!μ—¬ν–‰!νλ§ν•¨κ» λ§›μ§‘π›μ—¬ν–‰π…μΉ΄νβ•μν™”π¬λ¬Έν™”π­μ΄λ™π³λ μ Έ ν•κ³ μ‹¶μ€κ±° ν•¨κ» λ‹¤ν•λ” μΉλ©λ¨μ„π¤—
νΌμ !νΌλ°¥!νΌμ!νΌμ—¬no(λ¨λ“ μ§€ν•¨κ»)
                        </li>
                        <li></li>
                        <li class="clubinfo">
                            <span>μΉ΄νƒκ³ λ¦¬</span>
                            <span>μ°½μ†</span>
                            <span>λ©¤λ²„</span>
                        </li>
                    </ul>

                </li>
                <!-- <li>2</li>
                <li>3</li>
                <li>4</li> -->
            </ul>
            <% for(let i = 0; i < clubdata.length; i++) { %> 
                <ul class="Contentul">
                    
                    
                    <li class="Contentli"> 
                        <a href="" class="imagetag"><img src="<%= clubdata[i].image %>" alt=""></a>
                        <ul class="">
                            <li>λ™νΈν μ΄λ¦„ :  <%= clubdata[i].name %> </li>
                            <li>λ‚΄μ© : 
                                <%= clubdata[i].introduction %>
                            </li>
                            <li></li>
                            <li class="clubinfo">
                                <span><%= clubdata[i].club_category_name %></span>
                                <span>μ‰μΌμ²΄ν— : <%= clubdata[i].allow_guest %></span>
                                <span>λ©¤λ²„ μ •μ› : <%= clubdata[i].member_limit %></span>
                            </li>
                        </ul>
                        
                    </li>
                    <!-- <li>2</li>
                    <li>3</li>
                    <li>4</li> -->
                </ul>
            <% } %>
            <ul class="Contentul">
               
                <li class="Contentli"> 
                    <a href="" class="imagetag"><img src="/public/images/mypage.png" alt=""></a>
                    <ul class="">
                        <li>λ™νΈν μ΄λ¦„ : 3040πλ™λ„¤μ°μΉλ§λ“¤κΈ°π¤—μ—¬μ„±ν™μ</li>
                        <li>λ‚΄μ© : 
                            πΈμƒνΌ!μ„¤λ¨κ°€λ“ν•!λ΄„λ‚ πΈλ™λ„¤μΉκµ¬λ“¤κ³Όνλ§!
3040(ν‰μΌ!μ£Όλ§)λ™λ„¤μΉκµ¬λ‘!λ§›μ§‘!μ—¬ν–‰!νλ§ν•¨κ» λ§›μ§‘π›μ—¬ν–‰π…μΉ΄νβ•μν™”π¬λ¬Έν™”π­μ΄λ™π³λ μ Έ ν•κ³ μ‹¶μ€κ±° ν•¨κ» λ‹¤ν•λ” μΉλ©λ¨μ„π¤—
νΌμ !νΌλ°¥!νΌμ!νΌμ—¬no(λ¨λ“ μ§€ν•¨κ»)
                        </li>
                        <li></li>
                        <li class="clubinfo">
                            <span>μΉ΄νƒκ³ λ¦¬</span>
                            <span>μ°½μ†</span>
                            <span>λ©¤λ²„</span>
                        </li>
                    </ul>

                </li>
                <!-- <li>2</li>
                <li>3</li>
                <li>4</li> -->
            </ul>
            <ul class="Contentul">
               
                <li class="Contentli"> 
                    <a href="" class="imagetag"><img src="/public/images/mypage.png" alt=""></a>
                    <ul class="">
                        <li>λ™νΈν μ΄λ¦„ : 3040πλ™λ„¤μ°μΉλ§λ“¤κΈ°π¤—μ—¬μ„±ν™μ</li>
                        <li>λ‚΄μ© : 
                            πΈμƒνΌ!μ„¤λ¨κ°€λ“ν•!λ΄„λ‚ πΈλ™λ„¤μΉκµ¬λ“¤κ³Όνλ§!
3040(ν‰μΌ!μ£Όλ§)λ™λ„¤μΉκµ¬λ‘!λ§›μ§‘!μ—¬ν–‰!νλ§ν•¨κ» λ§›μ§‘π›μ—¬ν–‰π…μΉ΄νβ•μν™”π¬λ¬Έν™”π­μ΄λ™π³λ μ Έ ν•κ³ μ‹¶μ€κ±° ν•¨κ» λ‹¤ν•λ” μΉλ©λ¨μ„π¤—
νΌμ !νΌλ°¥!νΌμ!νΌμ—¬no(λ¨λ“ μ§€ν•¨κ»)
                        </li>
                        <li></li>
                        <li class="clubinfo">
                            <span>μΉ΄νƒκ³ λ¦¬</span>
                            <span>μ°½μ†</span>
                            <span>λ©¤λ²„</span>
                        </li>
                    </ul>

                </li>
                <!-- <li>2</li>
                <li>3</li>
                <li>4</li> -->
            </ul>
           
    
        </div>
        <div id='calendar'></div>
        
        
    </div>
</body>
<script>

    document.addEventListener('DOMContentLoaded', function() {
      const calendarEl = document.getElementById('calendar')
      const calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        events: [
          {
              title : 'μ°Έμ—¬',
              backgroundColor: '#9d2933',
              date: '2025-04-05'
          },{
              title : 'μ°Έμ—¬',
              backgroundColor: '#9d2933',
              date: '2025-03-30'
          }
      ]
      })
      calendar.render()
    })

  </script>
</html>