



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/public/css/common/header.css">
    <link rel="stylesheet" href="/public/css/mypage/mypage.css">
</head>
<body>
    <header>
        <div>
            <img src="/public/images/logo.png" alt="로고">
            <a href="/">동호회</a>
        </div>
        <ul>
            <!-- <a href="/login" id="alogin">로그인</a> -->
            <div>
                <a href="/logout" id="alogout">로그아웃</a>
            </div>
        </ul>
    </header>
    <div id="Bodywrap">
        <div id="Bodycontent">

            <div id="Userinfo">
                <img src="<%= data.profile_image %>" alt="">
                <ul id="Userul">
                    <li>아이디 : <%= uuid %></li>
                    <li>
                        <span>이름 : <%= data.nickname %></span>                      
                        <span>레벨 : 1</span>
                    </li>
                    <li>
                        <span>나이 : <%= Userdata.age %> </span>
                        <span>성별 : <%= Userdata.gender %></span>
                    </li>
                
                    <li>
                        <span>동호회 멤버 : </span>
                        <div id="Edit">
                            <a href="/Edituser" id="Edituser">정보 수정</a>
                            <a href="/Userintrest" id="Userintrest">관심 분야</a>
                        </div>
                    </li>
                </ul>
            </div>
            <span id="line"></span>
            <div id="Introduction">
                자기소개 : 
                <p>
                    <%= Userdata.introduction %>
                </p>
            </div>
            
            <ul id="Contentul">
               
                <li class="Contentli"> 
                    <img src="" alt="">
                    <ul class="">
                        <li>동호회 이름 : </li>
                        <li>내용 : </li>
                        <li>3</li>
                        <li class="clubinfo">
                            <span>카태고리</span>
                            <span>창소</span>
                            <span>멤버</span>
                        </li>
                    </ul>

                </li>
                <!-- <li>2</li>
                <li>3</li>
                <li>4</li> -->
            </ul>
        </div>
        
    </div>
</body>
<script>

</script>
</html>