



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/public/css/common/header.css">
    <link rel="stylesheet" href="/public/css/mypage/mypage.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar')
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          events: [
            {
                title : 'μ°Έμ—¬',
                backgroundColor: '#9d2933',
                date: '2025-04-05'
            },{
                title : 'μ°Έμ—¬',
                backgroundColor: '#9d2933',
                date: '2025-03-30'
            }
        ]
        })
        calendar.render()
      })

    </script>
</head>
<body>
    <header>
        <div>
            <img src="/public/images/logo.png" alt="λ΅κ³ ">
            <a href="/">λ™νΈν</a>
        </div>
        <ul>
            <!-- <a href="/login" id="alogin">λ΅κ·ΈμΈ</a> -->
            <div>
                <a href="/logout" id="alogout">λ΅κ·Έμ•„μ›ƒ</a>
            </div>
        </ul>
    </header>
    <div id="Bodywrap">
        <div id="Bodycontent">

            <div id="Userinfo">
                <img src="<%= data.profile_image %>" alt="">
                <ul id="Userul">
                    <li>μ•„μ΄λ”” : <%= uuid %></li>
                    <li>
                        <span>μ΄λ¦„ : <%= data.nickname %></span>                      
                        <span>λ λ²¨ : 1</span>
                    </li>
                    <li>
                        <span>λ‚μ΄ : <%= Userdata.age %> </span>
                        <span>μ„±λ³„ : <%= Userdata.gender %></span>
                        <div id="Edit">
                            <a href="/Edituser" id="Edituser">μ •λ³΄ μμ •</a>
                            <a href="/Userintrest" id="Userintrest">κ΄€μ‹¬ λ¶„μ•Ό</a>
                        </div>
                    </li>
                
                    <li>
                        <!-- <span>λ™νΈν λ©¤λ²„ : </span> -->
                    </li>
                </ul>
            </div>
            <span id="line"></span>
            <div id="Introduction">
                μκΈ°μ†κ° : 
                <p>
                    <%= Userdata.introduction %>
                </p>
            </div>
            
            
            <ul class="Contentul">
               
                <li class="Contentli"> 
                    <a href="" class="imagetag"><img src="/public/images/mypage.png" alt=""></a>
                    <ul class="">
                        <li>λ™νΈν μ΄λ¦„ : 3040πλ™λ„¤μ°μΉλ§λ“¤κΈ°π¤—μ—¬μ„±ν™μ</li>
                        <li>λ‚΄μ© : 
                            πΈμƒνΌ!μ„¤λ¨κ°€λ“ν•!λ΄„λ‚ πΈλ™λ„¤μΉκµ¬λ“¤κ³Όνλ§!
3040(ν‰μΌ!μ£Όλ§)λ™λ„¤μΉκµ¬λ‘!λ§›μ§‘!μ—¬ν–‰!νλ§ν•¨κ» λ§›μ§‘π›μ—¬ν–‰π…μΉ΄νβ•μν™”π¬λ¬Έν™”π­μ΄λ™π³λ μ Έ ν•κ³ μ‹¶μ€κ±° ν•¨κ» λ‹¤ν•λ” μΉλ©λ¨μ„π¤—
νΌμ !νΌλ°¥!νΌμ!νΌμ—¬no(λ¨λ“ μ§€ν•¨κ»)
                        </li>
                        <li></li>
                        <li class="clubinfo">
                            <span>μΉ΄νƒκ³ λ¦¬</span>
                            <span>μ°½μ†</span>
                            <span>λ©¤λ²„</span>
                        </li>
                    </ul>

                </li>
                <!-- <li>2</li>
                <li>3</li>
                <li>4</li> -->
            </ul>
           
    
        </div>
        <div id='calendar'></div>
        
        
    </div>
</body>
<script>

</script>
</html>